# Ignore configuration files that may contain sensitive information.
drupal/sites/*/settings*.php
drupal/sites/*/services*.yml

# Ignore paths that contain user-generated content.
drupal/sites/*/files/
drupal/sites/*/private/

# Ignore SimpleTest multi-site environment.
drupal/sites/simpletest/

.vagrant/
puphpet/files/dot/
!puphpet/files/dot/ssh/insecure_private_key
