[submodule "htdocs"]
	path = htdocs
	url = https://github.com/InternetDevels/drupal-core.git
	branch = 8.x
[submodule "modules/admin_menu"]
	path = modules/admin_menu
	url = http://git.drupal.org/project/admin_menu.git
	branch = 8.x-3.x
[submodule "sites/all/themes/basic"]
	path = sites/all/themes/basic
	url = http://git.drupal.org/project/basic.git
[submodule "modules/contrib/geophp"]
	path = modules/contrib/geophp
	url = http://git.drupal.org/project/geophp.git
[submodule "modules/contrib/geolocation"]
	path = modules/contrib/geolocation
	url = http://git.drupal.org/project/geolocation.git
