[submodule "htdocs"]
	path = htdocs
	url = https://github.com/InternetDevels/drupal-core.git
	branch = 8.x
[submodule "modules/admin_menu"]
	path = modules/admin_menu
	url = http://git.drupal.org/project/admin_menu.git
	branch = 8.x-3.x
