/* Font styles. */
body {
  margin: 0;
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
  font: 13px/1.5em "Helvetica Neue", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em;
}

/* Links */
a:link, a:visited {
  color: blue;
  text-decoration: none;
}

a:hover, a:active {
  color: red;
  text-decoration: underline;
}

/* Titles. */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}

h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

/* Paragraph styles. */
p {
  margin: 0 0 1em 0;
}

/* List styles. */
ul, ol {
  margin-left: 0;
  padding-left: 0;
}

/* Table styles. */
table {
  width: 99%;
}

tr.even td,
tr.odd td {
  padding: 10px 5px;
}

tr.odd {
  background-color: white;
}

/* Code. */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

/* List styles. */
ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}
ul ul ul ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: decimal;
}

/* Abbreviation. */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

/* UI improvments. */
#edit-title {
  font-size: 24px;
  width: 99%;
}

#system-themes-form img {
  width: 100px;
}

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

#edit-delete {
  color: #cc0000;
}

/* Console, style from slate theme. */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
}

div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77;
}

/* Region Colors. delete when starting a new theme. */
#header, #footer,
#sidebar-first,
#sidebar-second,
#navigation {
  background: rgba(170, 170, 170, 0.2);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body:before {
  content: '';
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, transparent 0, #EEEEEE 0, #EEEEEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEEEEE 8.51064%, #EEEEEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEEEEE 17.02128%, #EEEEEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEEEEE 25.53191%, #EEEEEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEEEEE 34.04255%, #EEEEEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEEEEE 42.55319%, #EEEEEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEEEEE 51.06383%, #EEEEEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEEEEE 59.57447%, #EEEEEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEEEEE 68.08511%, #EEEEEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEEEEE 76.59574%, #EEEEEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEEEEE 85.10638%, #EEEEEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEEEEE 93.61702%, #EEEEEE 100.0%, transparent 100.0%));
  background-image: -webkit-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEEEEE 8.51064%, #EEEEEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEEEEE 17.02128%, #EEEEEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEEEEE 25.53191%, #EEEEEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEEEEE 34.04255%, #EEEEEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEEEEE 42.55319%, #EEEEEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEEEEE 51.06383%, #EEEEEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEEEEE 59.57447%, #EEEEEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEEEEE 68.08511%, #EEEEEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEEEEE 76.59574%, #EEEEEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEEEEE 85.10638%, #EEEEEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEEEEE 93.61702%, #EEEEEE 100.0%, transparent 100.0%);
  background-image: -moz-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEEEEE 8.51064%, #EEEEEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEEEEE 17.02128%, #EEEEEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEEEEE 25.53191%, #EEEEEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEEEEE 34.04255%, #EEEEEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEEEEE 42.55319%, #EEEEEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEEEEE 51.06383%, #EEEEEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEEEEE 59.57447%, #EEEEEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEEEEE 68.08511%, #EEEEEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEEEEE 76.59574%, #EEEEEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEEEEE 85.10638%, #EEEEEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEEEEE 93.61702%, #EEEEEE 100.0%, transparent 100.0%);
  background-image: -ms-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEEEEE 8.51064%, #EEEEEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEEEEE 17.02128%, #EEEEEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEEEEE 25.53191%, #EEEEEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEEEEE 34.04255%, #EEEEEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEEEEE 42.55319%, #EEEEEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEEEEE 51.06383%, #EEEEEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEEEEE 59.57447%, #EEEEEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEEEEE 68.08511%, #EEEEEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEEEEE 76.59574%, #EEEEEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEEEEE 85.10638%, #EEEEEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEEEEE 93.61702%, #EEEEEE 100.0%, transparent 100.0%);
  background-image: -o-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEEEEE 8.51064%, #EEEEEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEEEEE 17.02128%, #EEEEEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEEEEE 25.53191%, #EEEEEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEEEEE 34.04255%, #EEEEEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEEEEE 42.55319%, #EEEEEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEEEEE 51.06383%, #EEEEEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEEEEE 59.57447%, #EEEEEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEEEEE 68.08511%, #EEEEEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEEEEE 76.59574%, #EEEEEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEEEEE 85.10638%, #EEEEEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEEEEE 93.61702%, #EEEEEE 100.0%, transparent 100.0%);
  background-image: linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEEEEE 8.51064%, #EEEEEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEEEEE 17.02128%, #EEEEEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEEEEE 25.53191%, #EEEEEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEEEEE 34.04255%, #EEEEEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEEEEE 42.55319%, #EEEEEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEEEEE 51.06383%, #EEEEEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEEEEE 59.57447%, #EEEEEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEEEEE 68.08511%, #EEEEEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEEEEE 76.59574%, #EEEEEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEEEEE 85.10638%, #EEEEEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEEEEE 93.61702%, #EEEEEE 100.0%, transparent 100.0%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 83.69231em;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body:before {
  content: '';
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, transparent 0, #EEEEEE 0, #EEEEEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEEEEE 8.51064%, #EEEEEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEEEEE 17.02128%, #EEEEEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEEEEE 25.53191%, #EEEEEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEEEEE 34.04255%, #EEEEEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEEEEE 42.55319%, #EEEEEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEEEEE 51.06383%, #EEEEEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEEEEE 59.57447%, #EEEEEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEEEEE 68.08511%, #EEEEEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEEEEE 76.59574%, #EEEEEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEEEEE 85.10638%, #EEEEEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEEEEE 93.61702%, #EEEEEE 100.0%, transparent 100.0%));
  background-image: -webkit-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEEEEE 8.51064%, #EEEEEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEEEEE 17.02128%, #EEEEEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEEEEE 25.53191%, #EEEEEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEEEEE 34.04255%, #EEEEEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEEEEE 42.55319%, #EEEEEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEEEEE 51.06383%, #EEEEEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEEEEE 59.57447%, #EEEEEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEEEEE 68.08511%, #EEEEEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEEEEE 76.59574%, #EEEEEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEEEEE 85.10638%, #EEEEEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEEEEE 93.61702%, #EEEEEE 100.0%, transparent 100.0%);
  background-image: -moz-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEEEEE 8.51064%, #EEEEEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEEEEE 17.02128%, #EEEEEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEEEEE 25.53191%, #EEEEEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEEEEE 34.04255%, #EEEEEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEEEEE 42.55319%, #EEEEEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEEEEE 51.06383%, #EEEEEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEEEEE 59.57447%, #EEEEEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEEEEE 68.08511%, #EEEEEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEEEEE 76.59574%, #EEEEEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEEEEE 85.10638%, #EEEEEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEEEEE 93.61702%, #EEEEEE 100.0%, transparent 100.0%);
  background-image: -ms-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEEEEE 8.51064%, #EEEEEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEEEEE 17.02128%, #EEEEEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEEEEE 25.53191%, #EEEEEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEEEEE 34.04255%, #EEEEEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEEEEE 42.55319%, #EEEEEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEEEEE 51.06383%, #EEEEEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEEEEE 59.57447%, #EEEEEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEEEEE 68.08511%, #EEEEEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEEEEE 76.59574%, #EEEEEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEEEEE 85.10638%, #EEEEEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEEEEE 93.61702%, #EEEEEE 100.0%, transparent 100.0%);
  background-image: -o-linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEEEEE 8.51064%, #EEEEEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEEEEE 17.02128%, #EEEEEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEEEEE 25.53191%, #EEEEEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEEEEE 34.04255%, #EEEEEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEEEEE 42.55319%, #EEEEEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEEEEE 51.06383%, #EEEEEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEEEEE 59.57447%, #EEEEEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEEEEE 68.08511%, #EEEEEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEEEEE 76.59574%, #EEEEEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEEEEE 85.10638%, #EEEEEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEEEEE 93.61702%, #EEEEEE 100.0%, transparent 100.0%);
  background-image: linear-gradient(left, transparent 0, #EEEEEE 0, #EEEEEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEEEEE 8.51064%, #EEEEEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEEEEE 17.02128%, #EEEEEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEEEEE 25.53191%, #EEEEEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEEEEE 34.04255%, #EEEEEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEEEEE 42.55319%, #EEEEEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEEEEE 51.06383%, #EEEEEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEEEEE 59.57447%, #EEEEEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEEEEE 68.08511%, #EEEEEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEEEEE 76.59574%, #EEEEEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEEEEE 85.10638%, #EEEEEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEEEEE 93.61702%, #EEEEEE 100.0%, transparent 100.0%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 83.69231em;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1;
}

/*# sourceMappingURL=style.css.map */
