* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* set variables for global use */
.color-palette-greengray blockquote:before {
  color: #7f8c8d; }
.color-palette-greengray .feed-icon img {
  background-color: #7f8c8d;
  padding: 4px; }
.color-palette-greengray .more-link a {
  background-color: #7f8c8d; }
  .color-palette-greengray .more-link a:hover {
    background-color: #999;
    color: #fff; }
.color-palette-greengray .item-list-pager li a:hover {
  background-color: #7f8c8d; }
.color-palette-greengray .item-list-pager li.pager-current {
  background-color: #7f8c8d; }
.color-palette-greengray .vocabulary-links:before {
  color: #7f8c8d; }
.color-palette-greengray .l-off-canvas--left {
  background-color: #7f8c8d; }
.color-palette-greengray .l-header-wrapper {
  color: #7f8c8d; }
.color-palette-greengray a {
  color: #7f8c8d; }
  .color-palette-greengray a:hover {
    text-decoration: none;
    color: #999; }
.color-palette-greengray input[type="submit"], .color-palette-greengray input[type="reset"], .color-palette-greengray button, .color-palette-greengray .button a {
  background-color: #7f8c8d;
  color: #fff; }
  .color-palette-greengray input[type="submit"]:hover, .color-palette-greengray input[type="reset"]:hover, .color-palette-greengray button:hover, .color-palette-greengray .button a:hover {
    background-color: #999; }
.color-palette-greengray .l-menu-wrapper {
  background-color: #7f8c8d; }
.color-palette-greengray.site-name-show h1.site-name a:after {
  color: #7f8c8d; }
.color-palette-greengray .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #7f8c8d transparent transparent; }

.color-palette-pink blockquote:before {
  color: #b72898; }
.color-palette-pink .feed-icon img {
  background-color: #b72898;
  padding: 4px; }
.color-palette-pink .more-link a {
  background-color: #b72898; }
  .color-palette-pink .more-link a:hover {
    background-color: #999;
    color: #fff; }
.color-palette-pink .item-list-pager li a:hover {
  background-color: #b72898; }
.color-palette-pink .item-list-pager li.pager-current {
  background-color: #b72898; }
.color-palette-pink .vocabulary-links:before {
  color: #b72898; }
.color-palette-pink .l-off-canvas--left {
  background-color: #b72898; }
.color-palette-pink .l-header-wrapper {
  color: #b72898; }
.color-palette-pink a {
  color: #b72898; }
  .color-palette-pink a:hover {
    text-decoration: none;
    color: #999; }
.color-palette-pink input[type="submit"], .color-palette-pink input[type="reset"], .color-palette-pink button, .color-palette-pink .button a {
  background-color: #b72898;
  color: #fff; }
  .color-palette-pink input[type="submit"]:hover, .color-palette-pink input[type="reset"]:hover, .color-palette-pink button:hover, .color-palette-pink .button a:hover {
    background-color: #999; }
.color-palette-pink .l-menu-wrapper {
  background-color: #b72898; }
.color-palette-pink.site-name-show h1.site-name a:after {
  color: #b72898; }
.color-palette-pink .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #b72898 transparent transparent; }

.color-palette-orange blockquote:before {
  color: #e04604; }
.color-palette-orange .feed-icon img {
  background-color: #e04604;
  padding: 4px; }
.color-palette-orange .more-link a {
  background-color: #e04604; }
  .color-palette-orange .more-link a:hover {
    background-color: #999;
    color: #fff; }
.color-palette-orange .item-list-pager li a:hover {
  background-color: #e04604; }
.color-palette-orange .item-list-pager li.pager-current {
  background-color: #e04604; }
.color-palette-orange .vocabulary-links:before {
  color: #e04604; }
.color-palette-orange .l-off-canvas--left {
  background-color: #e04604; }
.color-palette-orange .l-header-wrapper {
  color: #e04604; }
.color-palette-orange a {
  color: #e04604; }
  .color-palette-orange a:hover {
    text-decoration: none;
    color: #999; }
.color-palette-orange input[type="submit"], .color-palette-orange input[type="reset"], .color-palette-orange button, .color-palette-orange .button a {
  background-color: #e04604;
  color: #fff; }
  .color-palette-orange input[type="submit"]:hover, .color-palette-orange input[type="reset"]:hover, .color-palette-orange button:hover, .color-palette-orange .button a:hover {
    background-color: #999; }
.color-palette-orange .l-menu-wrapper {
  background-color: #e04604; }
.color-palette-orange.site-name-show h1.site-name a:after {
  color: #e04604; }
.color-palette-orange .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #e04604 transparent transparent; }

.color-palette-green blockquote:before {
  color: #6a8500; }
.color-palette-green .feed-icon img {
  background-color: #6a8500;
  padding: 4px; }
.color-palette-green .more-link a {
  background-color: #6a8500; }
  .color-palette-green .more-link a:hover {
    background-color: #999;
    color: #fff; }
.color-palette-green .item-list-pager li a:hover {
  background-color: #6a8500; }
.color-palette-green .item-list-pager li.pager-current {
  background-color: #6a8500; }
.color-palette-green .vocabulary-links:before {
  color: #6a8500; }
.color-palette-green .l-off-canvas--left {
  background-color: #6a8500; }
.color-palette-green .l-header-wrapper {
  color: #6a8500; }
.color-palette-green a {
  color: #6a8500; }
  .color-palette-green a:hover {
    text-decoration: none;
    color: #999; }
.color-palette-green input[type="submit"], .color-palette-green input[type="reset"], .color-palette-green button, .color-palette-green .button a {
  background-color: #6a8500;
  color: #fff; }
  .color-palette-green input[type="submit"]:hover, .color-palette-green input[type="reset"]:hover, .color-palette-green button:hover, .color-palette-green .button a:hover {
    background-color: #999; }
.color-palette-green .l-menu-wrapper {
  background-color: #6a8500; }
.color-palette-green.site-name-show h1.site-name a:after {
  color: #6a8500; }
.color-palette-green .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #6a8500 transparent transparent; }

.color-palette-purple blockquote:before {
  color: #491f70; }
.color-palette-purple .feed-icon img {
  background-color: #491f70;
  padding: 4px; }
.color-palette-purple .more-link a {
  background-color: #491f70; }
  .color-palette-purple .more-link a:hover {
    background-color: #999;
    color: #fff; }
.color-palette-purple .item-list-pager li a:hover {
  background-color: #491f70; }
.color-palette-purple .item-list-pager li.pager-current {
  background-color: #491f70; }
.color-palette-purple .vocabulary-links:before {
  color: #491f70; }
.color-palette-purple .l-off-canvas--left {
  background-color: #491f70; }
.color-palette-purple .l-header-wrapper {
  color: #491f70; }
.color-palette-purple a {
  color: #491f70; }
  .color-palette-purple a:hover {
    text-decoration: none;
    color: #999; }
.color-palette-purple input[type="submit"], .color-palette-purple input[type="reset"], .color-palette-purple button, .color-palette-purple .button a {
  background-color: #491f70;
  color: #fff; }
  .color-palette-purple input[type="submit"]:hover, .color-palette-purple input[type="reset"]:hover, .color-palette-purple button:hover, .color-palette-purple .button a:hover {
    background-color: #999; }
.color-palette-purple .l-menu-wrapper {
  background-color: #491f70; }
.color-palette-purple.site-name-show h1.site-name a:after {
  color: #491f70; }
.color-palette-purple .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #491f70 transparent transparent; }

.color-palette-turquoise blockquote:before {
  color: #02b4ce; }
.color-palette-turquoise .feed-icon img {
  background-color: #02b4ce;
  padding: 4px; }
.color-palette-turquoise .more-link a {
  background-color: #02b4ce; }
  .color-palette-turquoise .more-link a:hover {
    background-color: #999;
    color: #fff; }
.color-palette-turquoise .item-list-pager li a:hover {
  background-color: #02b4ce; }
.color-palette-turquoise .item-list-pager li.pager-current {
  background-color: #02b4ce; }
.color-palette-turquoise .vocabulary-links:before {
  color: #02b4ce; }
.color-palette-turquoise .l-off-canvas--left {
  background-color: #02b4ce; }
.color-palette-turquoise .l-header-wrapper {
  color: #02b4ce; }
.color-palette-turquoise a {
  color: #02b4ce; }
  .color-palette-turquoise a:hover {
    text-decoration: none;
    color: #999; }
.color-palette-turquoise input[type="submit"], .color-palette-turquoise input[type="reset"], .color-palette-turquoise button, .color-palette-turquoise .button a {
  background-color: #02b4ce;
  color: #fff; }
  .color-palette-turquoise input[type="submit"]:hover, .color-palette-turquoise input[type="reset"]:hover, .color-palette-turquoise button:hover, .color-palette-turquoise .button a:hover {
    background-color: #999; }
.color-palette-turquoise .l-menu-wrapper {
  background-color: #02b4ce; }
.color-palette-turquoise.site-name-show h1.site-name a:after {
  color: #02b4ce; }
.color-palette-turquoise .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #02b4ce transparent transparent; }

.color-palette-pomegranate blockquote:before {
  color: #c0392b; }
.color-palette-pomegranate .feed-icon img {
  background-color: #c0392b;
  padding: 4px; }
.color-palette-pomegranate .more-link a {
  background-color: #c0392b; }
  .color-palette-pomegranate .more-link a:hover {
    background-color: #999;
    color: #fff; }
.color-palette-pomegranate .item-list-pager li a:hover {
  background-color: #c0392b; }
.color-palette-pomegranate .item-list-pager li.pager-current {
  background-color: #c0392b; }
.color-palette-pomegranate .vocabulary-links:before {
  color: #c0392b; }
.color-palette-pomegranate .l-off-canvas--left {
  background-color: #c0392b; }
.color-palette-pomegranate .l-header-wrapper {
  color: #c0392b; }
.color-palette-pomegranate a {
  color: #c0392b; }
  .color-palette-pomegranate a:hover {
    text-decoration: none;
    color: #999; }
.color-palette-pomegranate input[type="submit"], .color-palette-pomegranate input[type="reset"], .color-palette-pomegranate button, .color-palette-pomegranate .button a {
  background-color: #c0392b;
  color: #fff; }
  .color-palette-pomegranate input[type="submit"]:hover, .color-palette-pomegranate input[type="reset"]:hover, .color-palette-pomegranate button:hover, .color-palette-pomegranate .button a:hover {
    background-color: #999; }
.color-palette-pomegranate .l-menu-wrapper {
  background-color: #c0392b; }
.color-palette-pomegranate.site-name-show h1.site-name a:after {
  color: #c0392b; }
.color-palette-pomegranate .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #c0392b transparent transparent; }

.color-palette-seafoam blockquote:before {
  color: #16a085; }
.color-palette-seafoam .feed-icon img {
  background-color: #16a085;
  padding: 4px; }
.color-palette-seafoam .more-link a {
  background-color: #16a085; }
  .color-palette-seafoam .more-link a:hover {
    background-color: #999;
    color: #fff; }
.color-palette-seafoam .item-list-pager li a:hover {
  background-color: #16a085; }
.color-palette-seafoam .item-list-pager li.pager-current {
  background-color: #16a085; }
.color-palette-seafoam .vocabulary-links:before {
  color: #16a085; }
.color-palette-seafoam .l-off-canvas--left {
  background-color: #16a085; }
.color-palette-seafoam .l-header-wrapper {
  color: #16a085; }
.color-palette-seafoam a {
  color: #16a085; }
  .color-palette-seafoam a:hover {
    text-decoration: none;
    color: #999; }
.color-palette-seafoam input[type="submit"], .color-palette-seafoam input[type="reset"], .color-palette-seafoam button, .color-palette-seafoam .button a {
  background-color: #16a085;
  color: #fff; }
  .color-palette-seafoam input[type="submit"]:hover, .color-palette-seafoam input[type="reset"]:hover, .color-palette-seafoam button:hover, .color-palette-seafoam .button a:hover {
    background-color: #999; }
.color-palette-seafoam .l-menu-wrapper {
  background-color: #16a085; }
.color-palette-seafoam.site-name-show h1.site-name a:after {
  color: #16a085; }
.color-palette-seafoam .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #16a085 transparent transparent; }

.color-palette-mustard blockquote:before {
  color: #c3a918; }
.color-palette-mustard .feed-icon img {
  background-color: #c3a918;
  padding: 4px; }
.color-palette-mustard .more-link a {
  background-color: #c3a918; }
  .color-palette-mustard .more-link a:hover {
    background-color: #999;
    color: #fff; }
.color-palette-mustard .item-list-pager li a:hover {
  background-color: #c3a918; }
.color-palette-mustard .item-list-pager li.pager-current {
  background-color: #c3a918; }
.color-palette-mustard .vocabulary-links:before {
  color: #c3a918; }
.color-palette-mustard .l-off-canvas--left {
  background-color: #c3a918; }
.color-palette-mustard .l-header-wrapper {
  color: #c3a918; }
.color-palette-mustard a {
  color: #c3a918; }
  .color-palette-mustard a:hover {
    text-decoration: none;
    color: #999; }
.color-palette-mustard input[type="submit"], .color-palette-mustard input[type="reset"], .color-palette-mustard button, .color-palette-mustard .button a {
  background-color: #c3a918;
  color: #fff; }
  .color-palette-mustard input[type="submit"]:hover, .color-palette-mustard input[type="reset"]:hover, .color-palette-mustard button:hover, .color-palette-mustard .button a:hover {
    background-color: #999; }
.color-palette-mustard .l-menu-wrapper {
  background-color: #c3a918; }
.color-palette-mustard.site-name-show h1.site-name a:after {
  color: #c3a918; }
.color-palette-mustard .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #c3a918 transparent transparent; }

.color-palette-surf-green blockquote:before {
  color: #02aab3; }
.color-palette-surf-green .feed-icon img {
  background-color: #02aab3;
  padding: 4px; }
.color-palette-surf-green .more-link a {
  background-color: #02aab3; }
  .color-palette-surf-green .more-link a:hover {
    background-color: #999;
    color: #fff; }
.color-palette-surf-green .item-list-pager li a:hover {
  background-color: #02aab3; }
.color-palette-surf-green .item-list-pager li.pager-current {
  background-color: #02aab3; }
.color-palette-surf-green .vocabulary-links:before {
  color: #02aab3; }
.color-palette-surf-green .l-off-canvas--left {
  background-color: #02aab3; }
.color-palette-surf-green .l-header-wrapper {
  color: #02aab3; }
.color-palette-surf-green a {
  color: #02aab3; }
  .color-palette-surf-green a:hover {
    text-decoration: none;
    color: #999; }
.color-palette-surf-green input[type="submit"], .color-palette-surf-green input[type="reset"], .color-palette-surf-green button, .color-palette-surf-green .button a {
  background-color: #02aab3;
  color: #fff; }
  .color-palette-surf-green input[type="submit"]:hover, .color-palette-surf-green input[type="reset"]:hover, .color-palette-surf-green button:hover, .color-palette-surf-green .button a:hover {
    background-color: #999; }
.color-palette-surf-green .l-menu-wrapper {
  background-color: #02aab3; }
.color-palette-surf-green.site-name-show h1.site-name a:after {
  color: #02aab3; }
.color-palette-surf-green .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #02aab3 transparent transparent; }

.color-palette-maillot-jaune blockquote:before {
  color: #f0de16; }
.color-palette-maillot-jaune .feed-icon img {
  background-color: #f0de16;
  padding: 4px; }
.color-palette-maillot-jaune .more-link a {
  background-color: #f0de16; }
  .color-palette-maillot-jaune .more-link a:hover {
    background-color: #999;
    color: #fff; }
.color-palette-maillot-jaune .item-list-pager li a:hover {
  background-color: #f0de16; }
.color-palette-maillot-jaune .item-list-pager li.pager-current {
  background-color: #f0de16; }
.color-palette-maillot-jaune .vocabulary-links:before {
  color: #f0de16; }
.color-palette-maillot-jaune .l-off-canvas--left {
  background-color: #f0de16; }
.color-palette-maillot-jaune .l-header-wrapper {
  color: #f0de16; }
.color-palette-maillot-jaune a {
  color: #f0de16; }
  .color-palette-maillot-jaune a:hover {
    text-decoration: none;
    color: #999; }
.color-palette-maillot-jaune input[type="submit"], .color-palette-maillot-jaune input[type="reset"], .color-palette-maillot-jaune button, .color-palette-maillot-jaune .button a {
  background-color: #f0de16;
  color: #fff; }
  .color-palette-maillot-jaune input[type="submit"]:hover, .color-palette-maillot-jaune input[type="reset"]:hover, .color-palette-maillot-jaune button:hover, .color-palette-maillot-jaune .button a:hover {
    background-color: #999; }
.color-palette-maillot-jaune .l-menu-wrapper {
  background-color: #f0de16; }
.color-palette-maillot-jaune.site-name-show h1.site-name a:after {
  color: #f0de16; }
.color-palette-maillot-jaune .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #f0de16 transparent transparent; }

.color-palette-caribe blockquote:before {
  color: #a6c9d1; }
.color-palette-caribe .feed-icon img {
  background-color: #a6c9d1;
  padding: 4px; }
.color-palette-caribe .more-link a {
  background-color: #a6c9d1; }
  .color-palette-caribe .more-link a:hover {
    background-color: #999;
    color: #fff; }
.color-palette-caribe .item-list-pager li a:hover {
  background-color: #a6c9d1; }
.color-palette-caribe .item-list-pager li.pager-current {
  background-color: #a6c9d1; }
.color-palette-caribe .vocabulary-links:before {
  color: #a6c9d1; }
.color-palette-caribe .l-off-canvas--left {
  background-color: #a6c9d1; }
.color-palette-caribe .l-header-wrapper {
  color: #a6c9d1; }
.color-palette-caribe a {
  color: #a6c9d1; }
  .color-palette-caribe a:hover {
    text-decoration: none;
    color: #999; }
.color-palette-caribe input[type="submit"], .color-palette-caribe input[type="reset"], .color-palette-caribe button, .color-palette-caribe .button a {
  background-color: #a6c9d1;
  color: #fff; }
  .color-palette-caribe input[type="submit"]:hover, .color-palette-caribe input[type="reset"]:hover, .color-palette-caribe button:hover, .color-palette-caribe .button a:hover {
    background-color: #999; }
.color-palette-caribe .l-menu-wrapper {
  background-color: #a6c9d1; }
.color-palette-caribe.site-name-show h1.site-name a:after {
  color: #a6c9d1; }
.color-palette-caribe .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #a6c9d1 transparent transparent; }

.color-palette-chartreuse blockquote:before {
  color: #c8dc77; }
.color-palette-chartreuse .feed-icon img {
  background-color: #c8dc77;
  padding: 4px; }
.color-palette-chartreuse .more-link a {
  background-color: #c8dc77; }
  .color-palette-chartreuse .more-link a:hover {
    background-color: #999;
    color: #fff; }
.color-palette-chartreuse .item-list-pager li a:hover {
  background-color: #c8dc77; }
.color-palette-chartreuse .item-list-pager li.pager-current {
  background-color: #c8dc77; }
.color-palette-chartreuse .vocabulary-links:before {
  color: #c8dc77; }
.color-palette-chartreuse .l-off-canvas--left {
  background-color: #c8dc77; }
.color-palette-chartreuse .l-header-wrapper {
  color: #c8dc77; }
.color-palette-chartreuse a {
  color: #c8dc77; }
  .color-palette-chartreuse a:hover {
    text-decoration: none;
    color: #999; }
.color-palette-chartreuse input[type="submit"], .color-palette-chartreuse input[type="reset"], .color-palette-chartreuse button, .color-palette-chartreuse .button a {
  background-color: #c8dc77;
  color: #fff; }
  .color-palette-chartreuse input[type="submit"]:hover, .color-palette-chartreuse input[type="reset"]:hover, .color-palette-chartreuse button:hover, .color-palette-chartreuse .button a:hover {
    background-color: #999; }
.color-palette-chartreuse .l-menu-wrapper {
  background-color: #c8dc77; }
.color-palette-chartreuse.site-name-show h1.site-name a:after {
  color: #c8dc77; }
.color-palette-chartreuse .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #c8dc77 transparent transparent; }

body.color-palette-maillot-jaune, body.color-palette-caribe, body.color-palette-chartreuse {
  background-color: #000;
  color: #eaeaea; }
  body.color-palette-maillot-jaune .l-page-wrapper, body.color-palette-caribe .l-page-wrapper, body.color-palette-chartreuse .l-page-wrapper {
    background-color: #333; }
  body.color-palette-maillot-jaune blockquote, body.color-palette-maillot-jaune code, body.color-palette-maillot-jaune kbd, body.color-palette-maillot-jaune pre, body.color-palette-maillot-jaune samp, body.color-palette-caribe blockquote, body.color-palette-caribe code, body.color-palette-caribe kbd, body.color-palette-caribe pre, body.color-palette-caribe samp, body.color-palette-chartreuse blockquote, body.color-palette-chartreuse code, body.color-palette-chartreuse kbd, body.color-palette-chartreuse pre, body.color-palette-chartreuse samp {
    background-color: #666; }
  body.color-palette-maillot-jaune figure figcaption, body.color-palette-caribe figure figcaption, body.color-palette-chartreuse figure figcaption {
    color: #ccc; }
  @media screen and (min-width: 64.51em)  {
    body.color-palette-maillot-jaune .main-menu-wrapper > ul > li > a, body.color-palette-caribe .main-menu-wrapper > ul > li > a, body.color-palette-chartreuse .main-menu-wrapper > ul > li > a {
      color: #eaeaea; }
 }
  @media screen and (min-width: 64.51em)  {
    body.color-palette-maillot-jaune .main-menu-wrapper > ul > li.active-trail > a, body.color-palette-caribe .main-menu-wrapper > ul > li.active-trail > a, body.color-palette-chartreuse .main-menu-wrapper > ul > li.active-trail > a {
      color: #eaeaea; }
    body.color-palette-maillot-jaune .main-menu-wrapper > ul > li > a, body.color-palette-caribe .main-menu-wrapper > ul > li > a, body.color-palette-chartreuse .main-menu-wrapper > ul > li > a {
      color: #333; }
      body.color-palette-maillot-jaune .main-menu-wrapper > ul > li > a:hover, body.color-palette-maillot-jaune .main-menu-wrapper > ul > li > a.active, body.color-palette-caribe .main-menu-wrapper > ul > li > a:hover, body.color-palette-caribe .main-menu-wrapper > ul > li > a.active, body.color-palette-chartreuse .main-menu-wrapper > ul > li > a:hover, body.color-palette-chartreuse .main-menu-wrapper > ul > li > a.active {
        color: #eaeaea; }
    body.color-palette-maillot-jaune .main-menu-wrapper > ul ul a, body.color-palette-caribe .main-menu-wrapper > ul ul a, body.color-palette-chartreuse .main-menu-wrapper > ul ul a {
      background-color: #ccc;
      color: #333; }
      body.color-palette-maillot-jaune .main-menu-wrapper > ul ul a:hover, body.color-palette-caribe .main-menu-wrapper > ul ul a:hover, body.color-palette-chartreuse .main-menu-wrapper > ul ul a:hover {
        background-color: #a8a8a8; }
 }
  body.color-palette-maillot-jaune .l-footer-wrapper, body.color-palette-caribe .l-footer-wrapper, body.color-palette-chartreuse .l-footer-wrapper {
    background-color: #000; }
  body.color-palette-maillot-jaune label, body.color-palette-maillot-jaune fieldset, body.color-palette-caribe label, body.color-palette-caribe fieldset, body.color-palette-chartreuse label, body.color-palette-chartreuse fieldset {
    color: #eaeaea; }
  body.color-palette-maillot-jaune input[type="submit"], body.color-palette-maillot-jaune input[type="reset"], body.color-palette-maillot-jaune button, body.color-palette-maillot-jaune .button a, body.color-palette-caribe input[type="submit"], body.color-palette-caribe input[type="reset"], body.color-palette-caribe button, body.color-palette-caribe .button a, body.color-palette-chartreuse input[type="submit"], body.color-palette-chartreuse input[type="reset"], body.color-palette-chartreuse button, body.color-palette-chartreuse .button a {
    color: #333; }
    body.color-palette-maillot-jaune input[type="submit"]:hover, body.color-palette-maillot-jaune input[type="reset"]:hover, body.color-palette-maillot-jaune button:hover, body.color-palette-maillot-jaune .button a:hover, body.color-palette-caribe input[type="submit"]:hover, body.color-palette-caribe input[type="reset"]:hover, body.color-palette-caribe button:hover, body.color-palette-caribe .button a:hover, body.color-palette-chartreuse input[type="submit"]:hover, body.color-palette-chartreuse input[type="reset"]:hover, body.color-palette-chartreuse button:hover, body.color-palette-chartreuse .button a:hover {
      background-color: #999;
      color: #fff; }
  body.color-palette-maillot-jaune a:hover, body.color-palette-caribe a:hover, body.color-palette-chartreuse a:hover {
    color: #eaeaea; }
  body.color-palette-maillot-jaune table tr.even, body.color-palette-caribe table tr.even, body.color-palette-chartreuse table tr.even {
    background-color: #666; }
  body.color-palette-maillot-jaune table tr.odd, body.color-palette-caribe table tr.odd, body.color-palette-chartreuse table tr.odd {
    background-color: #525252; }

.color-palette-purple.site-name-show h1.site-name a:after {
  color: #b58dd9; }
  .color-palette-purple.site-name-show h1.site-name a:after:hover, .color-palette-purple.site-name-show h1.site-name a:after:hover:after {
    color: #ccc; }
.color-palette-purple .l-header-wrapper a, .color-palette-purple .l-footer-wrapper a {
  color: #b58dd9; }
  .color-palette-purple .l-header-wrapper a:hover, .color-palette-purple .l-header-wrapper a:hover:after, .color-palette-purple .l-footer-wrapper a:hover, .color-palette-purple .l-footer-wrapper a:hover:after {
    color: #ccc; }
.color-palette-purple .l-header-wrapper:after, .color-palette-purple .l-footer-wrapper:after {
  color: #b58dd9; }

/*# sourceMappingURL=gratis.color-palettes.css.map */