<?php

/**
 *
 */
function idevels_xhprof_param($param, $value = NULL) {
  static $params = array();
  if (is_null($value) && isset($params[$param])) {
    return $params[$param];
  }
  elseif (!is_null($value)) {
    $params[$param] = $value;
  }
  return NULL;
}


/**
 *
 */
function idevels_xhprof_enable($type = 'time', $redirect = TRUE, $namespace = NULL) {
  // Configure namespace param.
  if (!strlen((string)$namespace)) {
    $namespace = $_SERVER['SERVER_NAME'];
  }

  // Starting xhprof.
  if (extension_loaded('xhprof')) {
    switch ($type) {
      case 'simple':
        define('DEBUG_MICROTIME_START', microtime(1));
        break;

      case 'all':
        xhprof_enable(XHPROF_FLAGS_CPU + XHPROF_FLAGS_MEMORY);
        break;

      case 'cpu':
        xhprof_enable(XHPROF_FLAGS_CPU);
        break;

      case 'memory':
        xhprof_enable(XHPROF_FLAGS_MEMORY);
        break;

      case 'time':
      default:
        $type = 'time';
        xhprof_enable();
    }
  }

  // Set params.
  idevels_xhprof_param('type', $type);
  idevels_xhprof_param('redirect', $redirect);
  idevels_xhprof_param('namespace', $namespace);

  // Save and show results.
  register_shutdown_function('idevels_xhprof_stop');
}


/**
 *
 */
function idevels_xhprof_disable($auto = FALSE, $type = NULL, $show_results = NULL, $namespace = NULL) {
  static $disabled = FALSE;
  if ($disabled == FALSE) {
    $disabled = TRUE;
    if (idevels_xhprof_param('type') == 'simple') {
      define('DEBUG_MICROTIME_END', microtime(1));
    }
    elseif (extension_loaded('xhprof')) {
      include_once dirname(__FILE__) . '/xhprof_lib/utils/xhprof_lib.php';
      include_once dirname(__FILE__) . '/xhprof_lib/utils/xhprof_runs.php';
      $xhprof_data = xhprof_disable();
      $xhprof_runs = new XHProfRuns_Default();
      $run_id = $xhprof_runs->save_run($xhprof_data, idevels_xhprof_param('namespace'));
      idevels_xhprof_param('run_id', $run_id);
    }
  }
}


/**
 *
 */
function idevels_xhprof_stop() {
  // Stop profiling.
  idevels_xhprof_disable();

  if (idevels_xhprof_param('type') == 'simple') {
    // Show results.
    $time = number_format(DEBUG_MICROTIME_END - DEBUG_MICROTIME_START, 4);
    $cur  = number_format(memory_get_usage() / 1024, 3);
    $peak = number_format(memory_get_peak_usage() / 1024, 3);
    print "\ntime = {$time} seconds<br />\nmemory_get_usage = {$cur} kb<br />\nmemory_get_peak_usage = {$peak} kb";
  }
  elseif (idevels_xhprof_param('run_id')) {
    if (idevels_xhprof_param('redirect') == TRUE) {
      // Redirect to result.
      $profiler_url = sprintf('http://{{ nginx_vhost_server_name }}/xhprof/xhprof_html/index.php?run=%s&source=%s', idevels_xhprof_param('run_id'), idevels_xhprof_param('namespace'));
      print '<script type="text/javascript">window.location.href=\''. $profiler_url .'\';</script>';
    }
  }
}


if (isset($_GET['debug'])) {
  $namespace = $_SERVER['SERVER_NAME'];
  if (isset($_GET['namespace']) && strlen((string)$_GET['namespace'])) {
    $namespace = (string)$_GET['namespace'];
  }
  idevels_xhprof_enable((string)$_GET['debug'], TRUE, $namespace);
}
