START=yes
NFILES=131072
MEMLOCK=82000

DAEMON_OPTS="-a {{ varnish_http_server_listen_on }} \
             -T {{ varnish_management_console_listen_on }} \
             -f {{ varbish_vcl_file }} \
             -S {{ varnish_management_console_secret_file }} \
             -s malloc,{{ varnish_malloc }}"


