#progressBar {
        width: 600px;
        height: 22px;
        border: 1px solid #111;
        background-color: #292929;
        margin-bottom: 10px;
}
 
#progressBar div {
        height: 100%;
        color: #fff;
        text-align: right;
        line-height: 22px; /* same as #progressBar height if we want text middle aligned */
        width: 0;
        background-color: #0099ff;
}

#showlogs {
        width: 600px;
        height: 400px;
}